<?xml version="1.0" encoding="UTF-8"?>
<resources xmlns:iq="http://www.garmin.com/xml/connectiq">
    <settings>
        <!-- Must stay in step with CodeStore.MAX_CODES. -->
        <setting propertyKey="@Properties.codesList" title="@Strings.codesTitle" maxLength="10">
            <setting title="@Strings.codeType" type="string">
                <settingConfig id="code_$index_type" type="list">
                    <listEntry value="0">@Strings.QR</listEntry>
                    <listEntry value="1">@Strings.barcode</listEntry>
                </settingConfig>
            </setting>
            <setting title="@Strings.codeTitle" type="string">
                <settingConfig id="code_$index_title" type="alphanumeric"/>
            </setting>
            <setting title="@Strings.codeText" type="string">
                <settingConfig id="code_$index_text" type="alphanumeric" required="true" maxLength="256"/>
            </setting>

            <defaults>
                <entry>
                    <default id="code_$index_type">0</default>
                    <default id="code_$index_title"></default>
                    <default id="code_$index_text"></default>
                </entry>
            </defaults>
        </setting>
        <setting propertyKey="@Properties.keepScreenOn" title="@Strings.keepScreenOnTitle">
            <settingConfig type="boolean" />
        </setting>
        <setting propertyKey="@Properties.generateOnDevice" title="@Strings.generateOnDeviceTitle">
            <settingConfig type="boolean" />
        </setting>
        <setting propertyKey="@Properties.serviceUrl" title="@Strings.serviceUrlTitle">
            <settingConfig type="alphanumeric" required="false" maxLength="128" />
        </setting>
    </settings>
</resources>